.container-customer fieldset { padding-bottom: 35px;  border: 1px solid #ddd;}
.container-customer fieldset legend{ margin: 0 10px 10px 10px; padding: 0 20px; width: auto; font-size: 1.6em; color: #777; text-align: left; border: 0;}

.container-customer fieldset.login legend { color: #0073b7 !important;}
.container-customer fieldset.register legend { color: #f56954 !important;}

.container-customer div.field { margin: 0 15px 20px 15px; }
.container-customer div.field p { font-size: 1.2em; }
.container-customer label { display: block; width: 100%; font-size: 1.2em; font-weight: normal; margin-top: 5px; margin-bottom: 3px; padding: 0; color: #444; }
.container-customer input[type=text] { display: block; width: 100%; }
.container-customer input[type=text], .container-customer input[type=password], .container-customer select, .container-customer textarea {  display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.428571429; color: #555555; vertical-align: middle; background-color: #ffffff; background-image: none; border: 1px solid #cccccc; border-radius: 4px; }
.container-customer textarea { height: 55px; resize: none; }
.container-customer h3 { margin-top: 5px;}
.container-customer label.required:after{ 
	color: #f00;
	content: "\f069";
	margin-left: 10px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 60%;
	vertical-align: top;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.customer-menu ul { display: block; border: 1px solid #ddd; margin: 0; padding: 20px 0 10px 0;}
.customer-menu ul > li { list-style-type: none; margin-left: 35px; margin-bottom: 10px; }
.customer-menu ul > li > a{ text-decoration: none; font-size: 1.2em; color: #EF4135;}
.customer-menu ul > li > a > span { display: inline-block; width: 30px; color: #EF4135; }
.customer-content { padding: 10px 30px; border: 1px solid #ddd; }


.address-data{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.address-data { font-size: 1.1em !important;  padding: 10px 0; border: 1px solid #ccc; margin-bottom: 15px;}
.address-data p { margin: 0 0 3px 0; padding: 0; }
@media (min-width: 992px) { .address-data .btn { margin-top: 75px; } }
.hide-select .address-data .btn { display: none; }

.table-shopping-cart { max-width: 800px; margin: 15px auto; }
.table-shopping-cart tr.no-stock td { background-color: #FCB;}
.table-shopping-cart tr.no-stock td.product-name { text-decoration: line-through; }
a.remove-from-cart { color: #E54; font-size: 1.2em; }

.progress-step { width: 100%; margin: 10px auto 30px auto; display: block; padding: 0; }
.progress-step li { list-style-type: none; text-align: center; display: block; margin: 0; padding: 0; width: 20%; float: left; }
.progress-step li img { background-color: #bbbbbb; width: 98%; height: 5px; margin: -18px 0 18px 0; padding: 0; display: block; position: relative; z-index: 2; }
.progress-step li i { position: relative; z-index: 3; background-color: #fff; }
.progress-step li i.fa:before { position: relative; z-index: 3; background-color: #bbb; color: #888; border-radius: 1000px; padding-top: 10px; font-size: 21px; width: 40px; height: 40px; display: inline-block; }
.progress-step li span { font-size: 1.0em; color: #888; display: block; padding-bottom: 5px; }
.progress-step li.on img { background-color: #65d074; }
.progress-step li.on i.fa:before { background-color: #65d074; color: #fff;  }
.progress-step li.on span { color: #008000; }