.sp-wrap { min-width: 100%; width: 100%; min-height: 200px; max-height: 600px; }
.product .form-group.qtt { font-size: 18px; text-align: center;}
.product .form-group.qtt label {  display: inline-block;padding-top: 5px;}
#form-shipping label {  display: inline-block;padding-top: 5px; font-size: 18px;}
.product .form-group.qtt i{ font-size: 34px; vertical-align: top;}
.product .form-group.qtt input { display: inline-block; vertical-align: top; width: 100px; text-align: center; font-weight: bold; font-size: 18px; height: 32px; }
.product .form-group a:link, .product .form-group a:active, .product .form-group a:hover, .product .form-group a:visited { color: #ef4135; }
.product .price { text-align: right; padding-right: 40px;}
.product .price span.price-new, .product .price span.price-head {  font-size: 2.5em; display: inline-block; margin-top: 25px; color: #EF4135; }

.product .images-block { text-align: center; }
.product .images-block .img-zoom { display:inline-block; position: relative; cursor: zoom-in; }
.product .images-block .img-zoom:after { content:''; display:block; width:33px; height:33px; position:absolute; top:0; right:0; }
.product .images-block .img-zoom img {  display: block; max-width: 100%; max-height: 350px;}

.product .pictures { margin-top: 30px; }
.product .product-index { padding: 20px; }
.product .product-index>div>p, .product .product-index>h1{ text-indent: 30px; }
.product .product-index>h1{ text-transform: uppercase; font-size: 2.0em; font-weight: bold; color: #C25566; }
.product .summary { margin-bottom: 15px; font-size: 1.3em; color: #590915; }
.product .share { text-align: right; }
.product .price {margin-bottom: 20px;} 
.product .calc-shipping-content>div { border: 1px solid #ccc;padding: 10px; } 
.product .calc-shipping-content th { text-align: center; } 

.product.hideprice .price { display: none; }
.product .buy { text-align: center; }
.product input[name=qtt][readonly]  { background-color: #FAFAFA; }
.product .buy input[name=qtt]  { vertical-align: top; font-size: 1.4em; font-weight: bold; border: 1px solid #3D8F06; color: #3D8F06; border-radius: 9px; margin: 0 10px; padding: 6px 3px; width: 60px; text-align: center;  }
.product .buy .qtt-action { color: #3D8F06; font-size: 30px; padding: 0; margin-top: 2px; display: inline-block;  vertical-align: top; }
#form-shipping .qtt-action { font-size: 23px; padding: 0; margin-top: 2px; display: inline-block;  vertical-align: top;  }

#form-shipping .btn { background-color: #EF4135; border-color: #EF4135; } 
.product .buy .qtt-action.disabled { color: #aaa; }
.product .buy .btn { vertical-align: top; background-color: #3D8F06; font-size: 1.4em; border: 1px solid #3D8F06; border-radius: 9px; margin: 0 10px; width: 100%; }
.product.showcase .buy { display: none; }
.product-tab ul.nav li { font-size: 1.0em; text-transform: uppercase; font-weight: bold; }
.product-tab ul.nav li a{ color: #7BF; background: ; border-bottom: 1px solid #7BF; border-radius: 8px 8px 0 0; }
.product-tab ul.nav li.active { }
.product-tab ul.nav li.active a{ background: #7BF; color: #FFF; padding-top: 10px; }
.product-tab div.tab-content { border: 1px solid #7BF; margin-top: -1px; margin-bottom: 20px; padding: 10px 25px; min-height: 120px;  background-color: #FFF; color: #000; }
#attributes .attr { border-bottom: 1px solid #ddd; padding-bottom: 5px; margin-bottom: 10px; font-size: 1.1em; }
#attributes .attr>label { color: #555; }
.product.showcase .product-tab ul.nav li.calculate-shipping { display:none }
#attributes .attr>label { color: #555; }


/* Product Page Styles Starts */
	
.product-info{ padding-top:10px; }
.product-info .images-block{ }
.product-info .images-block .thumbnail{ padding:10px; -webkit-border-radius:0;    -moz-border-radius:0; border-radius:0; }
.product-info.full .images-block .list-inline{ margin-left:-5px; }
.product-info.full .images-block .list-inline li{ padding-left:5px; padding-right:5px; }
.product-info .images-block .list-inline{ margin-left:-2px; }
.product-info .images-block .list-inline li{ padding-left:2px; padding-right:2px; }
.product-info .images-block .list-inline .thumbnail{ padding:5px; }
.product-info .option { font-size: 1.4em; margin-bottom: 10px;padding: 0 20px; }
.product-info .option label {  }
.product-info .option select { }
.product-info .product-details h2{ margin-top:0; font-size:24px; }
.product-info .product-details h3{ font-size:22px; }
.product-info .product-details h2, .product-info .product-details h3{ text-transform:uppercase; }
.product-info .product-details .manufacturer{ color:#808080; text-transform:uppercase; }
.product-info .product-details .manufacturer span{ min-width:130px; display:inline-block; color:#2f353b; }
.product-info .product-details .price{ }
.product-info .product-details .price-head{ padding-right:10px; font-size:24px; color:#2f353b; text-transform:uppercase; }
.product-info .product-details .price-tax{ padding-top:5px; font-size:14px; color:#2f353b; text-transform:uppercase; }
.product-info .product-details .price-new{ color:#2f353b; font-size:24px; padding-right:5px; }
.product-info .product-details .price-old{ font-size:18px; color:#808080; text-decoration:line-through; }
.product-info .product-details .options{ }
.product-info .product-details .options h3{ margin-bottom:20px; }
.product-info .product-details .options h6{ font-weight:700; }
.product-info .product-details .cart-button{ }
.product-info .product-details .cart-button .btn{ -webkit-border-radius:0;    -moz-border-radius:0; border-radius:0; }
.product-info .product-details .btn-wishlist, 
.product-info .product-details .btn-compare{ color:#fff; background:#252424; margin-right:3px; }
.product-info .product-details .btn-cart{ font-size:18px; color:#fff; background:#ef4135; text-transform:uppercase; margin-bottom: 20px;}
.product-info .product-details .btn-cart:hover{ color:#fff; background:#252424; }
.product-info .product-details .btn-cart i { margin-right: 10px; }
.product-info-box{ padding-top:10px; }
.product-info-box + .product-info-box{ padding-top:30px; }
.product-info-box .heading{ padding:13px 20px; font-size:18px; color:#2f353b; text-transform:uppercase; background:#fff; border-top:1px solid #e8e8e8; border-right:1px solid #e8e8e8; border-bottom:4px solid #ef4135; border-left:1px solid #e8e8e8; }
.product-info-box .attr { padding: 5px 20px 0 20px; } 

